{% extends 'programmingcourses/layout.html' %}

{% block title %}Python{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
    <h1 style="color:blue">Basic Syntax</h1>
    <p>The Python language has many similarities to Perl, C, and Java. However, there are some definite differences between the languages.</p>
    <h2 style="color:chocolate">First Python Program</h2>
    <p>Let us execute programs in different modes of programming.</p>
    <h3>Interactive Mode Programming</h3>
    <p>Invoking the interpreter without passing a script file as a parameter brings up the following prompt −</p>
    <div style="background-color:white">
        <code>
$ python <br>
Python 2.4.3 (#1, Nov 11 2010, 13:34:43)<br>
[GCC 4.1.2 20080704 (Red Hat 4.1.2-48)] on linux2<br>
Type "help", "copyright", "credits" or "license" for more information.<br>
>>>
        </code>
    </div>
    <br>
    <p>Type the following text at the Python prompt and press the Enter −</p>
    <div style="background-color:white">
        <code>
            >>>print "Hello, Python!"
        </code>
    </div> <br>
    <p>If you are running new version of Python, then you would need to use print statement with parenthesis as in print ("Hello, Python!");. However in Python version 2.4.3, this produces the following result −</p>
    <div style="background-color:white">
        <code>
            Hello,Python!
        </code>
    </div><br>
    <h3>Script Mode Programming</h3>
    <p>
Invoking the interpreter with a script parameter begins execution of the script and continues until the script is finished. When the script is finished, the interpreter is no longer active.
Let us write a simple Python program in a script. Python files have extension .py. Type the following source code in a test.py file −
</p>
    <div style="background-color:white">
        <code>
            print "Hello, Python!"
        </code>
    </div><br>
    <p>We assume that you have Python interpreter set in PATH variable. Now, try to run this program as follows −</p>
<div style="background-color:white">
        <code>
            $ python test.py
        </code>
    </div><br>
    <p>This produces the following result-</p>
    <div style="background-color:white">
        <code>
            Hello, Python!
        </code>
    </div><br>
    <p>Let us try another way to execute a Python script. Here is the modified test.py file −</p>
<div style="background-color:white">
        <code>
            #!/usr/bin/python
<br>
print "Hello, Python!"

        </code>
    </div><br>
    <p>We assume that you have Python interpreter available in /usr/bin directory. Now, try to run this program as follows −</p>
<div style="background-color:white">
        <code>
           $ chmod +x test.py     # This is to make file executable
$./test.py

        </code>
    </div><br>
    <p>This produces the following result-</p>
    <div style="background-color:white">
        <code>
         Hello, Python!
        </code>
    </div><br>
    <h2 style="color:chocolate">Python Identifiers</h2>
    <p>A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).
Python does not allow punctuation characters such as @, $, and % within identifiers. Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.
        Here are naming conventions for Python identifiers − </p>
        <ul>
    <li>Class names start with an uppercase letter. All other identifiers start with a lowercase letter.</li>
    <li>Starting an identifier with a single leading underscore indicates that the identifier is private.</li>
    <li>Starting an identifier with two leading underscores indicates a strongly private identifier.</li>
    <li>If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.</li>
        </ul>
</div>
{% endblock %}
