{% extends 'programmingcourses/layout.html' %}

{% block title %}Python{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
    <h1 style="color:blue">Introduction of Python Language</h1>
    <p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.</p>
    <p>it is used for :</p>
    <ul>
        <li>Wed development (server side),</li>
        <li>Software development,</li>
        <li>Mathematics,</li>
        <li>System scripting.</li>
    </ul>
    <h2 style="color:chocolate">Speciality of Python</h2>
    <ul>
        <li>Python can be used on a server to create web applications.</li>
        <li>Python can be used alongside software to create workflows.</li>
        <li>   Python can connect to database systems. It can also read and modify files.</li>
        <li>   Python can be used to handle big data and perform complex mathematics.</li>
          <li>  Python can be used for rapid prototyping, or for production-ready software development.<br>
        </li>
        <li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc). </li>
        <li>Python has a simple syntax similar to the English language. </li>
        <li>Python has syntax that allows developers to write programs with fewer lines than some other programming languages.</li>
        <li>Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.</li>
        <li>Python can be treated in a procedural way, an object-orientated way or a functional way.</li>
    </ul>
    <h2 style="color:chocolate">Good to know</h2>
    <ul>
        <li>The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.</li>
    <li>In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.</li>
    </ul>
</div>
{% endblock %}
