{% extends 'programmingcourses/layout.html' %}

{% block title %}HTML{% endblock %}

{% block body %}
<div class="col-lg-8 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-1 col-sm-offset-1">
    <h1 style="color:blue">Introduction</h1>
    <h2 style="color:chcolate">What is CSS?</h2>
    <ul>
        <li>CSS stands for Cascading Style Sheets</li>
        <li>CSS describes how HTML elements are to be displayed on screen, paper, or in other media</li>
        <li>CSS saves a lot of work. It can control the layout of multiple web pages all at once</li>
        <li>External stylesheets are stored in CSS files.</li>
    </ul>
    <h2 style="color:chocolate">CSS Demo - One HTML Page - Multiple Styles!</h2>
    <p>Here we will show one HTML page displayed with four different stylesheets. Click on the "Stylesheet 1", "Stylesheet 2", "Stylesheet 3", "Stylesheet 4" links .</p>
    <h2 style="color:chocolate">Why use CSS?</h2>
    <p>CSS is used to define styles for your web pages, including the design, layout and variations in display for different devices and screen sizes. </p>
<h2 style="color:chocolate">CSS Solved a Big Problem</h2>
    <p>HTML was NEVER intended to contain tags for formatting a web page!<br>
HTML was created to describe the content of a web page, like:<br>
&lt;h1&gt;This is a heading &lt;/h1&gt;<br>
&lt;p&gt;This is a paragraph.&lt;/p&gt;<br>
When tags like &lt;font&gt;, and color attributes were added to the HTML 3.2 specification, it started a nightmare for web developers. Development of large websites, where fonts and color information were added to every single page, became a long and expensive process.
To solve this problem, the World Wide Web Consortium (W3C) created CSS.
CSS removed the style formatting from the HTML page!</p>
    <h2 style="color:chocolate">CSS Saves a Lot of Work!</h2>
    <p>The style definitions are normally saved in external .css files.
With an external stylesheet file, you can change the look of an entire website by changing just one file!
</p>
</div>
{% endblock %}
